@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply font-primary text-white;
    }
}

#connectWalletButton button{
    @apply px-14 h-[2.81rem] leading-[2.8rem] rounded-md bg-transparent border-2 border-white text-white shadow-shammBtnAlt relative inline-flex items-center justify-center backdrop-blur-btn hover:bg-white hover:text-black transition-colors;
}
.hide-propose{
    display: none;
}

#connectWalletButton button span{
    color: #fff;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

#connectWalletButton button:hover{
    background-color: #000;
}

#connectWalletButton button:hover span{
    color: #FFF;
}
.header-container{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.body{
    @apply mt-20;
}
.card progress {
    width: 100%;
    border-radius: 21px;
    overflow: hidden;
    height: 6px;
    vertical-align: super;
}
.card progress::-webkit-progress-bar {
    background-color: #252525;
}
.card progress::-webkit-progress-value {
    background-color: #B42222;
    border-radius: 21px;
}
progress.project-slider {
    width: 60%;
    border-radius: 21px;
    overflow: hidden;
    height: 6px;
    vertical-align: middle;
}
progress.project-slider::-webkit-progress-bar {
    background-color: #252525;
}
progress.project-slider::-webkit-progress-value {
    background-color: #C6B51B;
    border-radius: 21px;
}
.custom-slider .splide__slide{
    overflow: hidden;
    border-radius: 1rem;
}
.custom-slider.iop .slide__slide{
    border-radius: 0.5rem;
}
.custom-slider .splide__arrow{
    background: transparent;
    border-radius: 0;
    height: 4em;
    width: 4em;
}
.custom-slider .splide__arrow svg{
    fill: #FFF;
    height: 2.5em;
    width: 2.5em;
}
.custom-slider .splide__arrow--prev{
    left: -4em;
}
.custom-slider .splide__arrow--next{
    right: -4em;
}